.fmMap {
	color:#00272a;
}

.fmMap a,.fmMap a:visited {
	color:inherit;
}

.olMap.fmMap * {
	border-color:#00272a;
}

/* === FacilMap.Control.Search === */

.olMap .fmControlSearch {
	background-color:#00272a;
	opacity:0.75;
	border-radius:5px;
	position:absolute;
	top:15px;
	left:55px;
	padding:42px 5px 5px 5px;
	color:#fff;
	width:352px;
}

.olMap .fmControlSearch input,.olMap .fmControlSearch select {
	border-radius:3px;
	background-color:#fff;
	color:#00272a;
	border:1px solid #000;
	padding:1px;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	height:20px;
}

.olMap .fmControlSearch .from { position:absolute; top:5px; left:5px; width:161px; padding-right:20px; font-weight:bold; }
.olMap .fmControlSearch .help { position:absolute; top:8px; left:169px; width:16px; height:16px; cursor:pointer; }
.olMap .fmControlSearch .submit { position:absolute; top:5px; left:191px; width:75px; }
.olMap .fmControlSearch .clear { position:absolute; top:5px; left:272px; width:75px; }
.olMap .fmControlSearch .directions { position:absolute; top:29px; left:7px; height:12px; }

.olMap .fmControlSearch .to { position:absolute; top:31px; left:5px; width:180px; font-weight:bold; }
.olMap .fmControlSearch .type { position:absolute; top:31px; left:191px; width:100px; }
.olMap .fmControlSearch .medium { position:absolute; top:31px; left:297px; width:100px; }

.olMap .fmControlSearch.routing { padding-top:68px; width:402px; }
.olMap .fmControlSearch.routing .from { padding-right:1px; width:180px; }
.olMap .fmControlSearch.routing .submit { width:125px; }
.olMap .fmControlSearch.routing .clear { left:322px; }
.olMap .fmControlSearch.routing .directions { top:55px; }

.olMap .fmControlSearch .results {
	overflow:auto;
	max-height:300px;
}

.olMap .fmControlSearch.routing .results { max-height:150px; }

/* === */

.fmMap .fmControlAttribution,.fmMap .fmControlGeoLocation,.fmMap .olControlScaleLine {
	text-shadow:#fff 1px 1px 0;
}

.fmMap a,.fmMap a:visited {
	font-weight:bold;
	text-decoration:underline;
}

.olMap .fmControlAttribution {
	font-size:smaller;
	right:3px;
	bottom:4.5em;
	position:absolute;
}

.olMap .fmControlGeoLocation {
	position:absolute;
	right:3px;
	font-size:smaller;
	bottom:6em;
}

.olMap .fmControlLayerSwitcher .layersDiv {
	background-color:#00272a;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	opacity:0.75;

	-moz-border-top-left-radius:10px;
	-moz-border-bottom-left-radius:10px;
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	-khtml-opacity:0.75;
}

.olMap .fmControlScaleLine {
	left:auto;
	right:5px;
}

.olMap .fmControlScaleLine .olControlScaleLineTop {
	margin-left:auto
}

.olMap .fmControlScaleLine .olControlScaleLineBottom {
	margin-left:auto
}

.fmLayerMarkers img {
	cursor:pointer
}

/* === FacilMap.AutoSuggest === */

input.fmAutoSuggest {
	position:relative; /* Opera fix */
}

ol.fmAutoSuggest {
	margin:0 -1px !important;
	padding:0 !important;
	overflow:auto !important;
	border:1px solid ButtonShadow !important;
	background-color:Window !important;
	color:WindowText !important;
	list-style-type:none !important;
	z-index:100000 !important;
	max-height:12em !important;
	display:block;
}

ol.fmAutoSuggest li {
	cursor:pointer !important;
	padding:3px 6px !important;
	display:block !important;
}

ol.fmAutoSuggest li.selected,ol.fmAutoSuggest li:hover {
	background-color:Highlight !important;
	color:HighlightText !important;
}

/* === */

/* === FacilMap.Control.Loading === */

.olMap .fmControlLoading {
	position:absolute;
	top:0;
	right:0;
	width:100%;
	text-align:center;
}

.olMap .fmControlLoading p {
	margin:0 auto;
	width:7em;
	background-color:#00272a;
	opacity:0.75;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding:3px 5px;
	color:#fff;
	font-weight:bold;

	-moz-border-bottom-left-radius:5px;
	-moz-border-bottom-right-radius:5px;
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	-khtml-opacity:0.75;
}

/* === */